body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/image.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__title {
    color: #333;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: 60px auto;

    background-color: #333;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 102px;
    color: #333;
}


/* Header */
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header1 {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color:khaki;
}


.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}
.header__logo1{
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #333;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffae00;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}

.nav__link:hover {
    color: #ffae00;
}

.nav__link:hover:after {
    display: block;
    opacity: 1;
}

/* Slider */
.slider {
    width: 100% ;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 20%;
    padding: 10px 0;
    position: relative;
    border-top: 3px #333 solid;
    opacity: .7;
    font-size: 15px;
    color: #333;
    text-transform: uppercase;

}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #ffae00;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;

}

/* Button */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #333;

    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;

    transition: background 0.1s linear, color 0.1s linear;
}
.btn1{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #333;

    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;

}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* Section */

.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-height: 950px;
    margin-bottom: 0 auto 40px;
    text-align: center;    
}

.section__suptitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 25px auto 0;
    background-color: #ffae00;
}

.section__text {
    display: block;
	flex-direction: column;
    flex: 0 0 200px;
    font-size: 25px;
    color: rgb(114, 113, 113);
}

/* About */

.about {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* statistics */
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;

}

.stat__item {
    flex: 1 1 0;
    padding: 70px 35px;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #333;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.stat__text {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}


/* Footer */

.footer__logo {
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

/* copyright */

.copyright {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;

    font-size: 20px;
    color: #333;
    text-align: center;
}

.copyright span {
    color: #f38181;
}
html{
    scroll-behavior: smooth;
}
.scroll-top {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .scroll-top:hover {background-color: #3e8e41}
  
  .scroll-top:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}